
html{
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size:cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 996;
}

.card #Nametag {
  width: 450px;
  padding-top: 32px;
}

.card #score {
  color: white;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #000000;
  font-weight: 900;
  font-size: 80px;

}

.card #imgCat {
  width: 100%;
  max-width: 500px;
}

#score.active {
  margin-top: -10px;
  font-size: 100px;
}


.btnrefresh {
  z-index: 998;
  position: absolute;
  top: 0;
  right: 100px;
  width: 80px;
  height: 80px;
  margin: 25px 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.btnrefresh img {
  width: 50px;
}

.btnrefresh:hover {
  width: 100px;
  height: 100px;
  margin: 20px 20px;
}

.btnrefresh:active {
  box-shadow: -1px -1px 0px;
  opacity: 0.9;
}

.time {
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin: 25px 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.time img {
  width: 60px;
}

.time:hover {
  width: 100px;
  height: 100px;
  margin: 20px 20px;
}

.time:active {
  box-shadow: -1px -1px 0px;
  opacity: 0.9;
}

.timepop {
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timepop.open {
  opacity: 1;
  z-index: 999;
}

.timepop-inner {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px black;
  padding: 15px 25px;
  text-align: center;
  width: 380px;
  position: absolute;
}

.timepop-inner h2 {
  margin: 0;
  color: rgb(255, 196, 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
  font-weight: 900;
  font-size: 60px;
}

.timepop-inner p {
  line-height: 24px;
  max-width: 10px 0;
  font-size: 25px;
}

#timestart {
  color: white;
  background-color: rgb(248, 190, 0);
  border: 1;
  border-radius: 20px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  width: 100px;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

#timestart:hover{
  background-color: rgb(252, 203, 44);
}


.timepop .timepop-inner p b {
  color: red;
}

.showtime {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 80px;
  font-weight: 900;
  margin: 25px 150px;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #000000;
}

@media only screen and (max-width: 900px) {
  .showtime {
    top: unset;
    bottom: 0;
    margin: 120px 30px;
    font-size: 60px;
    z-index: 999;
  }
  .card #score {
    font-size: 70px !important;
  }
  
}

.endtimepop {
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.endtimepop.open {
  opacity: 1;
  z-index: 999;
}

.endtimepop-inner {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 4px black;
  padding: 15px 25px;
  text-align: center;
  width: 380px;
}

.endtimepop-inner h2 {
  margin: 0;
  color: rgb(255, 196, 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
  font-weight: 900;
  font-size: 60px;
}

.endtimepop-inner h3 {
  margin: 0;
  color: rgb(0, 0, 0);

  font-weight: 900;
  font-size: 40px;
  margin: 10px 0px;

}

.endtimepop-inner p {
  line-height: 24px;
  max-width: 10px 0;
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

#endchallenge {
  color: white;
  background-color: rgb(248, 190, 0);
  border: 1;
  border-radius: 20px;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  width: 100px;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

#endchallenge:hover{
  background-color: rgb(252, 203, 44);
}

.endchallenge .endchallenge-inner p {
  color: red;
}
#X {
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  cursor: pointer;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  margin: 25px 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  z-index: 998;
}

.logout img{
  width: 60px;
}

.logout:hover {
  width: 100px;
  height: 100px;
  margin: 20px 20px;
}

.logout:active {
  box-shadow: -1px -1px 0px;
  opacity: 0.9;
}


@media only screen and (max-width: 900px) {
  body{
    position: none;
  }
  .card #Nametag {
    width: 300px; 
    transform: 10px;
  }

  .card #score {
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke-width: 1.5px;
  }
  .timepop-inner h2 {
    font-size: 50px;
  }

  .timepop-inner p {
    font-size: 20px;
  }
  .timepop-inner {
    width: 300px;
  }
  .endtimepop-inner h2 {
    font-size: 50px;
  }

  .endtimepop-inner p {
    font-size: 20px;
  }
  .endtimepop-inner {
    width: 300px;
  }
  .showtime {
    left: 1;
  }

  .time{
    top :unset;
    bottom: 0;
  }

  .logout{
    top :unset;
    bottom: 0;
  }

  .btnrefresh{
    top :unset;
    bottom: 0;
    right: unset;
  }

}

.blackBG{
  position: absolute;
  opacity: 0;
  z-index: 997;
  width: 100%;
  height: 100%;
  background-color: #000000;
}



